<section class="wrap-emploees" id="emploees">
	<div class="mozaika">
		<div class="pic"><span><img src="images/tmp1.jpg" alt=""></span></div>
		<div class="pic"><span><img src="images/tmp2.jpg" alt=""></span></div>
		<div class="pic"><span><img src="images/tmp3.jpg" alt=""></span></div>
		<div class="pic"><span><img src="images/tmp4.jpg" alt=""></span></div>
		<div class="pic"><span><img src="images/tmp5.jpg" alt=""></span></div>
		<div class="pic"><span><img src="images/tmp6.jpeg" alt=""></span></div>
	</div>
	<div class="mbox">
		<div class="text">
			<div class="title">
				<h3>Кому подходит работа в Интернете</h3>
			</div>
			<ul>
				<li>
					<span>
						<img src="images/star.png" alt="">
						<img src="images/star.png" alt="">
						<img src="images/star.png" alt="">
						<img src="images/star.png" alt="">
						<img src="images/star.png" alt="">
					</span>
					<p>Студентам любых форм обучения. Идеальный вариант для совмещения учебы и удалённой работы</p>
				</li>
				<li>
					<span>
						<img src="images/star.png" alt="">
						<img src="images/star.png" alt="">
						<img src="images/star.png" alt="">
						<img src="images/star.png" alt="">
						<img src="images/star.png" alt="">
					</span>
					<p>Молодым мамам, находящимся в декретном отпуске. Отличная возможность пополнить семейный бюджет</p>
				</li>
				<li>
					<span>
						<img src="images/star.png" alt="">
						<img src="images/star.png" alt="">
						<img src="images/star.png" alt="">
						<img src="images/star.png" alt="">
					</span>
					<p> Трудоустроенным людям. Тем, кто ищет дополнительные возможности улучшить жизнь или новое место работы</p>
				</li>
				<li>
					<span>
						<img src="images/star.png" alt="">
						<img src="images/star.png" alt="">
						<img src="images/star.png" alt="">
					</span>
					<p>Активным пенсионерам. Тем, для которых жизнь продолжается, кто хочет достойно жить и путешествовать.</p>
				</li>
				<li>
					<span>
						<img src="images/star.png" alt="">
						<img src="images/star.png" alt="">
					</span>
					<p>Временно не работающим гражданам. Но только тем, кто в поиске, и не нашел пока достойного предложения.</p>
				</li>
			</ul>
		</div>
	</div>
</section>