<!-- Begin Book Place -->
<section class="book-place">
  <div class="book-inner">
    <div class="book-title">
      <h2>Весь цивилизованный бизнес всё больше погружается в интернет.</h2>
    </div>
    <div class="book-content">
      <p>По прогнозам аналитиков, доля людей, ведущих бизнес через интернет и работающих удалённо к 2020 году вырастет в 10 раз и достигнет 25% от общего числа работающих граждан! Забронируйте себе место сейчас – начните строить собственный бизнес и зарабатывать с помощь интернета прямо сегодня!</p>
    </div>
    <a href="#join-popup" class="el-button js-popup">
      <span>ЗАБРОНИРОВАТЬ МЕСТО</span>
    </a>
  </div>
</section>
<!-- End Book Place -->