<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
  <div class="footer-inner">
    <div class="footer-left">
      <a href="index.html" class="logo-left">
        <img src="images/logo2.png" alt="logo">
      </a>
      <div class="footer-sublogo">
        <p>Бизнес-проект «Пиар онлайн 24» Удалённая работа.</p>
      </div>
    </div>
    <div class="footer-center">
      <p>2017</p>
    </div>
    <div class="footer-right">
      <div class="logo-title">
        <p>создание сайта</p>
      </div>
      <a href="#" class="logo-right">
        <img src="images/loco-logo.png" alt="logo">
      </a>
    </div>
  </div>
</footer>
<!-- /FOOTER -->
