<section class="wrapper-future">
	<div class="mbox">
		<div class="title">
			<h2>Почему будущее за работой через Интернет?</h2>
		</div>
		<div class="advantages">
			<div class="advantage-item">
				<div class="icon">
					<span>
						<img src="images/molecula.png" alt="">
					</span>
				</div>
				<div class="text">
					<span>Современные технологии позволяют работать, находясь дома, в кафе, в парке, на даче… - везде, где есть Интернет</span>
				</div>
			</div>
			<div class="advantage-item">
				<div class="text">
					<span>Удалённая работа выгодна и бизнесу, и работнику за счёт снижения издержек и расходов у обоих</span>
				</div>
				<div class="icon">
					<span>
						<img src="images/hands.png" alt="">
					</span>
				</div>
			</div>
			<div class="advantage-item">
				<div class="icon">
					<span>
						<img src="images/diagram.png" alt="">
					</span>
				</div>
				<div class="text">
					<span>Бизнес-процессы ускоряются в несколько раз</span>
				</div>
			</div>
			<div class="advantage-item">
				<div class="text">
					<span>Нанимателю выгодно платить за результат, а не за «просиженное» время</span>
				</div>
				<div class="icon">
					<span>
						<img src="images/person.png" alt="">
					</span>
				</div>
			</div>
			<div class="advantage-item">
				<div class="icon">
					<span>
						<img src="images/palms.png" alt="">
					</span>
				</div>
				<div class="text">
					<span>Работник сам решает, как распорядиться своим временем, когда и сколько работать </span>
				</div>
			</div>
		</div>
		<div class="desc">Работая удалённо через интернет, Вы находитесь со своей семьёй или близкими, Вы не ограничены в передвижении и времени, не подчиняетесь пропускному режиму, и всегда можете легко сменить работу, выбрая среди растущего списка вакансий!</div>
	</div>
</section>