<!-- HEADER -->
<header class="header">
	<div class="mbox">
		<div class="header-content">
			<a href="index.html" class="logo">
				<img src="images/logo.png" alt="">
			</a>
			<a href="#" class="burger">
				<span></span>
				<span></span>
				<span></span>
			</a>
			<div class="menu">
				<a href="#" class="close_menu"></a>
				<ul>
					<li>
						<a href="#emploees">Для кого</a>
					</li>
					<li>
						<a href="#questions">Вопросы</a>
					</li>
					<li>
						<a href="#conditions">Требования</a>
					</li>
					<li>
						<a href="#vacancies">Вакансии</a>
					</li>
					<li>
						<a href="#steps">Шаги</a>
					</li>
				</ul>
			</div>
			<a href="#join-popup" class="join js-popup">Присоединиться</a>
		</div>
	</div>
</header>
<!-- /HEADER -->

