<!-- Begin Personnel -->
<section class="personnel" id="questions">
    <div class="person-inner">
      <div class="person-item">
        <div class="person-title">
          <h2>Кто
          <br><span style="font-size:48px;font-weight:900;">НЕ ПРИЖИВЁТСЯ</span> в нашем проекте</h2>
        </div>
        <ul>
          <li>Отчаянные пессимисты, недовольные жизнью, погодой, властью, видящие вкруг только негатив</li>
          <li>Заядлые любители студенческой халявы, тусующиеся только там, где всё «на шару»</li>
          <li>Отъявленные оптимисты, ожидающие много денег и сразу в первый месяц</li>
          <li>Безнадёжные консерваторы, не имеющие компьютера и гордящиеся «крепким и надёжным» кнопочным телефоном прошлого века…</li>
          <li>Несчастные бедолаги, живущие там, где интернет, как горячую воду, дают по выходным, или его вовсе нет…</li>
        </ul>
      </div>
      <div class="person-item">
        <div class="person-title">
          <h2>Кого мы
          <br><span style="font-size:48px;font-weight:900;">РАДЫ ВИДЕТЬ</span> своим партнером</h2>
        </div>
        <ul>
          <li>Активных и амбициозных людей, желающих значительно поднять свой уровень жизни</li>
          <li>Тех, кто четко понимает, что личное благополучие пропорционально лично приложенным усилиям</li>
          <li>Людей, желающих работать в дружном коллективе, где работается с удовольствием и все заинтересованы в успехе</li>
          <li>Общительных и коммуникабельных людей, кто всегда рад новым друзьям, знакомствам и связям</li>
          <li>Современных, социально активных пользователей интернета</li>
      </ul>
    </div>
  </div>
</section>
<!-- End Personnel -->