<!-- Begin Salary -->
<section class="salary" id="vacancies">
  <div class="salary-title">
    <h2><span style="font-size:58px;">Сколько вы будете зарабатывать</span> и какие привилегии получите</h2>
  </div>
  <div class="salary-inner">
    <div class="salary-item">
      <div class="salary-top">
        <h3>Руководитель филиала</h3>
      </div>
      <ul class="salary-list">
        <li>Скидка на весь ассортимент Интернет-магазина 20%</li>
        <li>Скидка на весь ассортимент Интернет-магазина 42 - 70%</li>
        <li>Партнерская скидка 22%</li>
        <li>Специальные условия и акции для участников проекта PROnline24</li>
        <li>Приглашение на ежегодный светский раут на 2 лица</li>
        <li class="close">Участие в ежегодной летней конференции в одной из европейских стран</li>
        <li class="close">Участие в ежегодной зимней конференции в одной из экзотических стран</li>
        <li>Новый автомобиль Skoda Rapid рапид в личное пользование на особых условиях</li>
        <li><span>Гарантированная премия по итогам работы <b>1000$</b></span></li>
      </ul>
      <div class="salary-bottom">
        <div class="salary-income">
          <p>Ежемесячный доход не менее <span style="color:#ee4941;font-size:49px;font-weight:700;">500$</span>
          <br>в месяц в эквиваленте</p>
        </div>
        <div class="salary-subtext">
          <p>Этот результат Вы получите через полгода работы в проекте. До этого результата мы доведём Вас за руку!</p>
        </div>
      </div>
    </div>
    <div class="salary-item">
      <div class="salary-top">
        <h3>Руководитель 2 филиалов</h3>
      </div>
      <ul class="salary-list">
        <li>Скидка на весь ассортимент Интернет-магазина 20%</li>
        <li>Скидка на весь ассортимент Интернет-магазина 42 - 70%</li>
        <li>Партнерская скидка 22%</li>
        <li>Приглашение на ежегодный светский раут на 2 лица</li>
        <li>Участие в ежегодной летней конференции в одной из европейских стран (приглашение на 2 лица)</li>
        <li class="close">Участие в ежегодной зимней конференции в одной из экзотических стран (приглашение на 2 лица)</li>
        <li>Новый автомобиль Skoda Rapid рапид в личное пользование на особых условиях</li>
        <li><span>Гарантированная премия по итогам работы <b>1000$</b></span></li>
        <li><span>Гарантированная премия по итогам работы за год <b>3500$</b></span></li>
      </ul>
      <div class="salary-bottom">
        <div class="salary-income">
          <p>Ежемесячный доход около <span style="color:#ee4941;font-size:49px;font-weight:700;">1200$</span>
          <br>в месяц в эквиваленте</p>
        </div>
        <div class="salary-subtext">
          <p>Этот результат Вы можете достигнуть за 1 год активной работы вместе с нами. Мы будем Вам помогать!</p>
        </div>
      </div>
    </div>
    <div class="salary-item">
      <div class="salary-top">
        <h3>Руководитель шести филиалов</h3>
      </div>
      <ul class="salary-list">
        <li>Скидка на весь ассортимент Интернет-магазина 20%</li>
        <li>Скидка на весь ассортимент Интернет-магазина 42 - 70%</li>
        <li>Партнерская скидка 22%</li>
        <li>Приглашение на ежегодный светский раут на 2 лица</li>
        <li>Участие в ежегодной летней конференции в одной из европейских стран (приглашение на 2 лица)</li>
        <li>Участие в ежегодной зимней конференции в одной из экзотических стран (приглашение на 2 лица)</li>
        <li>Новый автомобиль премиум-класса на выбор в личное пользование на уникальных условиях</li>
        <li><span>Гарантированная премия по итогам работы <b>1000$</b></span></li>
        <li><span>Гарантированная премия по итогам работы за год <b>3500$</b></span></li>
        <li><span>Гарантированная премия по итогам двухлетней работы <b>6000$</b></span></li>
      </ul>
      <div class="salary-bottom">
        <div class="salary-income">
          <p>Ежемесячный доход около <span style="color:#ee4941;font-size:49px;font-weight:700;">4000$</span>
          <br>в месяц в эквиваленте</p>
        </div>
        <div class="salary-subtext">
          <p>Такой результат можно получить  за 2 года активной деятельности. Мы научим и поможем, но Вам придётся много работать!</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Salary -->