<!-- Begin Special -->
<section class="special setion-animate">
  <div class="arrow-left animate-it"></div>
  <div class="arrow-right animate-it"></div>
  <div class="mbox">
    <div class="special-subtitle">
      <p>Для особо мнительных и осторожных у нас есть</p>
    </div>
    <div class="special-title">
      <h2><span style="color:#6ac1f8;font-size:75px;font-weight:900;">СПЕЦПРЕДЛОЖЕНИЕ –</span>
      <span style="color:#eb160c;">бесплатный демо-аккаунт</span>
      <br>на испытательный срок
      <br>до <span style="color:#6ac1f8;font-size:69px;font-weight:900;">90</span> дней.</h2>
    </div>
    <div class="special-content">
      <p> В течение этого периода, в режиме on-line, Вы можете наблюдать за работой изнутри и, при желании, участвовать в бизнес-процессах. </p>
      <p>Протестировав систему и оценив свои выгоды, Вы осознанно примете решение, либо самостоятельно удалить свой аккаунт, либо органично влиться в процесс, не теряя прогресса, достигнутого в демо-версии</p>
    </div>
  </div>
</section>
<!-- End Special -->