<section class="wrapper-steps" id="steps">
	<div class="mbox">
		<div class="title">
			<h2>Как всё происходит</h2>
		</div>
		<div class="steps">
			<div class="step-item">
				<div class="icon">
					<span>
						<img src="images/step1.png" alt="">
					</span>
				</div>
				<div class="text">
					<h6>Подача заявки</h6>
					<span>Заполните форму и вскоре с Вами свяжутся наши менеджеры для согласования и оформления личного кабинета (демо-аккаунта)</span>
				</div>
			</div>
			<div class="step-item">
				<div class="icon">
					<span>
						<img src="images/step2.png" alt="">
					</span>
				</div>
				<div class="text">
					<h6>Обучение</h6>
					<span>Вы получаете обучающие материалы, изучая которые, сразу приступаете к практике с наставником</span>
				</div>
			</div>
			<div class="step-item">
				<div class="icon">
					<span>
						<img src="images/step3.png" alt="">
					</span>
				</div>
				<div class="text">
					<h6>Испытательный срок (демо-версия).</h6>
					<span>Проходя стажировку, Вы узнаёте принципы и тестируете методы работы, после чего принимаете осознанное решение</span>
				</div>
			</div>
			<div class="step-item">
				<div class="icon">
					<span>
						<img src="images/step4.png" alt="">
					</span>
				</div>
				<div class="text">
					<h6>Начало работы</h6>
					<span> Вы включаетесь в командную работу вместе с личным наставником, который поведёт Вас к желаемому результату </span>
				</div>
			</div>
			<div class="step-item">
				<div class="icon">
					<span>
						<img src="images/step5.png" alt="">
					</span>
				</div>
				<div class="text">
					<h6>Успех</h6>
					<span>С опытом Вы сами становитесь наставником и сопровождаете своих новых партнеров</span>
				</div>
			</div>
		</div>
		<div class="desc">Мы, буквально, берем Вас за руку и доводим до результата! </div>
		<a href="#join-popup" class="el-button js-popup"><span>ПРИСОЕДИНИТЬСЯ</span></a>
	</div>
</section>