<!-- Begin Team -->
<section class="team">
  <div class="mbox">
    <div class="team-title">
      <h2>Присоединяйтесь к проекту, вливайтесь в команду!</h2>
    </div>
    <div class="team-slider">
      <div class="team-slide">
        <img src="images/team.jpg" alt="">
      </div>
      <div class="team-slide">
        <img src="images/team.jpg" alt="">
      </div>
      <div class="team-slide">
        <img src="images/team.jpg" alt="">
      </div>
      <div class="team-slide">
        <img src="images/team.jpg" alt="">
      </div>
      <div class="team-slide">
        <img src="images/team.jpg" alt="">
      </div>
      <div class="team-slide">
        <img src="images/team.jpg" alt="">
      </div>
      <div class="team-slide">
        <img src="images/team.jpg" alt="">
      </div>
      <div class="team-slide">
        <img src="images/team.jpg" alt="">
      </div>
    </div>
  </div>
</section>
<!-- End Team -->