<section class="wrap-banner">
	<div class="mbox">
		<a href="index.html" class="logo">
			<span class="pic"><img src="images/logo.png" alt=""></span>
			<p>Бизнес-проект «Пиар онлайн 24» Удалённая работа.</p>
		</a>
		<div class="title">
			<h1>  Хотите зарабатывать от 500$ в месяц, <br> работая в комфортной домашней обстановке?</h1>
		</div>
		<p>Это достижимо всего за полгода, даже если Вы раньше нигде не работали!</p>
		<div class="info-block">
			<div class="info-content">
				<div class="info-text">
					<div class="info-title">
						<h5>Если Вы открыты к общению, готовы работать и обучаться - действуйте сейчас и зарабатывайте  с нами!</h5>
					</div>
					<div class="desc"><span>Стабильный доход, который ничем не ограничен.</span></div>
					<div class="desc"><span>Легальная деятельность!</span></div>
					<div class="desc"><span>Без продаж!</span></div>
				</div>
				<div class="info-btn">
					<a href="#join-popup" class="el-button js-popup"><span>Получить работу!</span></a>
				</div>
				<div class="bounce-block"><span class="bounce">У нас <b>ТУНЕЯДЦЕВ</b> <span style="color: #ffd200;"><b>НЕТ!</b></span></span></div>
			</div>
		</div>
		<a href="#" class="arr"><span></span></a>
	</div>
</section>