<section class="wrap-description">
	<div class="mbox">
		<div class="description-content">
			<div class="top-lines"></div>
			<div class="bottom-lines"></div>
			<p> Мы предлагаем серьёзную, хорошо оплачиваемую работу, которая заключается в грамотной организации и  построении товаропроводящей сети крупного интернет-магазина путём обработки  естественного потока покупателей с использованием современных инструментов и технологий.</p>
			<h6>Вы работаете легально, по гражданско-правовому договору оказания услуг, получаете деньги официально, платите налоги и спите спокойно.</h6>
			<a href="#join-popup" class="el-button js-popup"><span>УЗНАТЬ ПОДРОБНЕЕ</span></a>
		</div>
	</div>
</section>