<section class="wrap-conditions" id="conditions">
	<div class="mbox">
		<div class="title">
			<h3>Условия и требования к кандидату</h3>
		</div>
		<div class="conditions">
			<div class="cond-item">
				<span class="pic">
					<img src="images/internet.png" alt="">
				</span>
				<div class="desc"><p>Наличие ПК и доступа в интернет (дома)</p></div>
			</div>
			<div class="cond-item">
				<span class="pic">
					<img src="images/phone.png" alt="">
				</span>
				<div class="desc"><p>Наличие смартфона и мобильного трафика (вне дома)</p></div>
			</div>
			<div class="cond-item">
				<span class="pic">
					<img src="images/wifi.png" alt="">
				</span>
				<div class="desc"><p>Доступность on-line в течение дня</p></div>
			</div>
			<div class="cond-item">
				<span class="pic">
					<img src="images/man.png" alt="">
				</span>
				<div class="desc">
					<p>Возраст от 18 лет</p>
					<p>Испытательный срок до 90 дней</p>
					<p>Место жительства не важно</p>
				</div>
			</div>
			<div class="cond-item">
				<span class="pic">
					<img src="images/computer.png" alt="">
				</span>
				<div class="desc">
					<p> Пользователь ПК (Microsoft Office) и </p>
					<p>Google-сервисы (таблицы, документы, диск, календарь…)</p>
				</div>
			</div>
			<div class="cond-item">
				<span class="pic">
					<img src="images/letter.png" alt="">
				</span>
				<div class="desc">
					<p>Присутствие в социальных сетях</p>
					<p>Пользователь мессенджеров (Skype, Viber, Telrgram, WhatsApp)</p>
				</div>
			</div>
		</div>
		<p>Научим, если есть пробелы в навыках, поможем, если возникнут затруднения!</p>
	</div>
</section>